*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.form{
  min-width: 100%;
  height: 100vh;
  border: dotted violet 5vw;
  
  margin: 0vw;
  padding: 5vw ;
  position:relative; 
  
}

.form{
  font-size: 35px ;
  font-weight: bold ;
  color: #ffe600;
  margin: 0 0 .5vh 0;
}

.form{
  display: block;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form input, textarea{
  display: block;
  width: 50%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0;
  border-radius: 5px;
  font-size: 17px;
}

.form textarea{
  height: 15vh;
}


.sent{
  margin: 1rem 0 1rem 0;
  border-radius: 20px 0 0 20px; 
  
}

.clear{
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;   
  border-radius: 0 20px 20px 0; 
} 

.sent:hover, .clear:hover{
  background-color: rgb(245, 245, 78);
  transition: 1s background ease;
}

/*margin: top right bottom left;*/
.sent{    
  margin-left: 52%;
  
}
.sent, .clear{    
  margin: 1rem 0 1rem 0; 
  
}